[submodule "lib/com_client"]
	path = lib/com_client
	url = git@github.com:Aightech/com_client
[submodule "tool_lib/built_lsl"]
	path = tool_lib/built_lsl
	url = git@github.com:Aightech/built_lsl
[submodule "tool_lib/audio"]
	path = tool_lib/audio
	url = git@github.com:Aightech/audio
